@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

$font-primary-text: 'Signika', serif;
$font-primary-title: 'Modesto Condensed', serif;
$font-secondary-title: "Amiri", serif;
$font-secret: 'Open Sans', sans-serif;

$color-primary-text: #343a40;
$color-primary-title: #C02942;
$color-secondary-title: #542437;
$color-tertiary-title: #53777A;

$color-border-primary: #54243799;
$color-border-secondary: #ECD07899;

$color-border-secret: #C02942;
$color-background-secret: #C0294266;

.journal-sheet.journal-theme {
    font-size: 1rem;
}

.journal-theme.mce-content-body {
    font-size: 1rem;
}

.journal-theme .window-content {
    padding: 8px;
}

.journal-theme .window-content,
.journal-theme.mce-content-body {
    font-family: $font-primary-text;
    line-height: 1.25;
    color: $color-primary-text;
    
    h1 {
        font-family: $font-primary-title;
        font-weight: 900;
        text-transform: uppercase;
        color: $color-primary-title;
        font-size: 2.5rem;
        border-bottom: 3px solid $color-primary-title;
        line-height: 1rem;
        margin-bottom: 0.3rem;
        margin-top: 0.3rem;
        padding: 0;
    }
    
    h2 {
        font-family: $font-secondary-title;
        font-weight: 600;
        font-size: 2.3rem;
        color: $color-secondary-title;
        border: none;
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 0.5rem;
    }
    
    h3 {
        font-family: $font-secondary-title;
        font-weight: bold;
        font-size: 1.8rem;
        color: $color-secondary-title;
        line-height: 1rem;
        margin-bottom: 0.2rem;
        margin-top: 0.5rem;
        border-bottom: 2px solid $color-border-primary;
    }
    
    h4 {
        font-family: $font-secondary-title;
        font-weight: bold;
        font-size: 1.5rem;
        color: $color-tertiary-title;
        margin-bottom: 0;
        margin-top: 0.4rem;
        text-transform: none;
    }
    
    h5 {
        font-family: $font-primary-text;
        font-weight: bold;
        font-size: 1.2rem;
        color: $color-tertiary-title;
        margin-bottom: 0;
        margin-top: 0.4rem;
        text-transform: none;
    }
    
    h6 {
        font-family: $font-primary-text;
        font-weight: bold;
        font-size: 1rem;
        color: $color-primary-text;
        margin-bottom: 0;
        margin-top: 0.4rem;
        text-transform: none;
    }
    
    p {
        font-size: 1rem;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        color: $color-primary-text;

        img {
            border: 1px solid $color-border-primary;
            border-radius: 8px;
        }
    }

    ul, ol {
        font-size: 1rem;
    }

    blockquote {
        font-family: $font-primary-text;
        font-style: italic;
        margin: 0.2rem;
        padding: 0.5rem 0.5rem;
        background-color: $color-border-secondary;
        border: none;
        border-left: 1px solid $color-border-primary;
        border-right: 1px solid $color-border-primary;
    }

    .secret {
        font-family: $font-secret;
        font-style: normal;
        margin: 0.1em;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        padding: 0.2em;
        background-color: $color-background-secret;
        border-top: 1px solid $color-border-secret;
        border-bottom: 1px solid $color-border-secret;
    }

    table {
        border: none;
        border-collapse: collapse;
        thead {
            background-color: #343a40;
            color: white;
            border-spacing: 2px;
        }

        tbody {
        }
    }
}

