@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$color-background: #ECE9E4;

$font-primary-text: 'PT Sans', sans-serif;
$font-primary-title: 'Modesto Condensed', serif;
$font-secondary-title: 'Montserrat', sans-serif;
$font-secret: 'PT Sans', sans-serif;

$color-primary-text: #393636;
$color-primary-title: #394b8a;
$color-secondary-title: #4d381c;
$color-tertiary-title: #394b8a;

$color-border-primary: #73503a;
$color-border-secondary: #ECD07899;

$color-quote: #73503a;
$color-quote-border: #73503a;
$color-quote-background: #e9e4dc;

$color-secret: #802dcc;
$color-border-secret: #802dcc;
$color-background-secret: rgba(128,45,204,.1);

$color-table-header: #394b8a;
$color-table-row: transparent;
$color-table-alternate-row: rgba(57, 75, 138, .2);

$color-link-border: #1070E5;
$color-link-background: rgba(16,112,229,.1);

$color-roll-border: #802dcc;
$color-roll-background: rgba(128,45,204,.1);

.journal-sheet.journal-theme {
    font-size: 1rem;
}

.journal-theme.mce-content-body {
    font-size: 1rem;
}

.journal-theme .window-content {
    padding: 8px;
}

.journal-theme .window-content,
.journal-theme.mce-content-body {
    background: $color-background;
    font-family: $font-primary-text;
    line-height: 1.25;
    color: $color-primary-text;

    input, button, select {
        color: $color-primary-text;
    }
    
    .editor-content {
        padding-right: 10px;
    }

    h1 {
        font-family: $font-primary-title;
        font-weight: 900;
        color: $color-primary-title;
        font-size: 2.5rem;
        text-transform: uppercase;
        margin-bottom: 0.3rem;
        margin-top: 0.3rem;
        padding: 0;
        border: none;
    }
    
    h2 {
        font-family: $font-primary-title;
        font-weight: 600;
        font-size: 2.2rem;
        color: $color-secondary-title;
        border: none;
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 0.5rem;
    }
    
    h3 {
        font-family: $font-secondary-title;
        font-weight: 800;
        font-size: 1.5rem;
        color: $color-secondary-title;
        margin-bottom: 0.2rem;
        margin-top: 0.5rem;
        border-bottom: 2px solid $color-border-primary;
    }
    
    h4 {
        font-family: $font-secondary-title;
        font-weight: 700;
        font-size: 1.3rem;
        color: $color-secondary-title;
        margin-bottom: 0;
        margin-top: 0.4rem;
        text-transform: none;
    }
    
    h5 {
        font-family: $font-secondary-title;
        font-weight: 800;
        font-size: 1.2rem;
        color: $color-tertiary-title;
        margin-bottom: 0;
        margin-top: 0.4rem;
        text-transform: none;
    }
    
    h6 {
        font-family: $font-secondary-title;
        font-weight: 700;
        font-size: 1rem;
        color: $color-primary-text;
        margin-bottom: 0;
        margin-top: 0.4rem;
        text-transform: none;
    }
    
    p {
        font-size: 1rem;
        font-weight: 300;
        margin-block-start: 0.7em;
        margin-block-end: 0.7em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        color: $color-primary-text;

        img {
            border: 1px solid $color-link-border;
            border-radius: 5px;
        }
    }

    ul, ol {
        font-size: 1rem;

        li {
            font-size: 1rem;
            font-weight: 300;
            margin: 0.5em 0;
        }
    }

    blockquote {
        font-family: $font-primary-text;
        font-style: normal;
        margin: 0.2rem;
        padding: 0.5rem 0.5rem;
        border: none;
        border-top: 1px solid $color-quote-border;
        border-bottom: 1px solid $color-quote-border;
        background-color: $color-quote-background;
        
        p {
            color: $color-quote;
        }
    }

    .secret {
        font-family: $font-secret;
        font-style: normal;
        margin: 0.1em;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        padding: 0.5rem 0.5rem;
        background-color: $color-background-secret;
        border: 2px dashed $color-border-secret;
        
        p {
            color: $color-secret;
        }
    }

    hr {
        border: none;
        border-bottom: 1px solid $color-border-primary;
    }

    table {
        border: none;
        border-collapse: collapse;
        background: none;
        thead {
            background-color: $color-table-header;
            color: white;
            border-spacing: 2px;
            border: none;
            font-style: bold;
        }

        tr, td {
            border: none;
        }

        tr:nth-child(odd) {
            background-color: $color-table-row;
        }

        tr:nth-child(even) {
            background-color: $color-table-alternate-row;
        }

        tbody {
        }
    }

    a.content-link {
        border: 1px solid $color-link-border;
        border-radius: 5px;
        background: $color-link-background;

        i.fas {
            color: $color-link-border;
        }
    }

    a.inline-roll,
    a.roll {
        border: 1px solid $color-roll-border;
        border-radius: 5px;
        background: $color-roll-background;

        i.fas {
            color: $color-roll-border;
        }
    }
}

